<section class="advantages-container">
    <div class="container">
        <div class="row">
            <h2 class="main__title text-center">Вы получаете целых 6 преимуществ!</h2>

            <div class="advantages-container__wrap">
                <div class="col-md-4 col-sm-6 col-xs-12 advantages-container__item">
                    <p class="advantages-container__title"><span class="advantages-container_icon icon-android"></span>Быстро</p>
                    <p class="advantages-container__paragraph">Создайте свой собственный магазин на Tap.az не выходя из дома</p>
                    <div class="icon icon-number-one icon-number-one-dims"></div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12  advantages-container__item">
                    <p class="advantages-container__title"><span class="advantages-container_icon icon-check"></span>Просто</p>
                    <p class="advantages-container__paragraph">Просто зайдите на сайт, или загрузите мобильное приложение, получите свою собственную страницу, а с ней - максимальные возможности</p>
                    <div class="icon icon-number-two icon-number-two-dims"></div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12  advantages-container__item">
                    <p class="advantages-container__title"><span class="advantages-container_icon icon-earn"></span>Зарабатывайте с нами</p>
                    <p class="advantages-container__paragraph">Онлайн-магазин позволит вам охватить максимальное количество потенциальных покупателей, и получить больше прибыли</p>
                    <div class="icon icon-number-three icon-number-three-dims"></div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12  advantages-container__item">
                    <p class="advantages-container__title"><span class="advantages-container_icon icon-case"></span>Управляйте сами</p>
                    <p class="advantages-container__paragraph">Вы сможете сами управлять своей страницей, добавлять нужные вам объявления и товары</p>
                    <div class="icon icon-number-four icon-number-four-dims"></div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12  advantages-container__item">
                    <p class="advantages-container__title"><span class="advantages-container_icon icon-star"></span>Заметно</p>
                    <p class="advantages-container__paragraph">Ваш онлайн магазин будет показан на главной странице сайта, что сделает его еще более заметным для
                        потенциальных покупателей</p>
                    <div class="icon icon-number-five icon-number-five-dims"></div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12  advantages-container__item">
                    <p class="advantages-container__title"><span class="advantages-container_icon icon-profit"></span>Получайте
                        прибыльми</p>
                    <p class="advantages-container__paragraph">С онлайн-магазином число просмотров ваших объявлений вырастет в разы, а значит, и число покупателей,
                        и количество продаж. Вам остается только считать прибыль</p>
                    <div class="icon icon-number-six icon-number-six-dims"></div>
                </div>
            </div>
        </div>
    </div>
</section>