<section class="announcement-container">
    <div class="announcement-container_cover">
        <div class="container announcement-container_decorate">
            <div class="row">
                <div class="col-md-11 col-sm-12 announcement-container_offset pull-right">
                    <div class="clearfix">
                        <div class="col-md-5 col-sm-5 col-xs-12 announcement-container_offset">
                            <h2 class="announcement-container__title">Теперь ваш магазин у вас в телефоне </h2>

                            <p class="announcement-container__paragraph">
                                Создавать и управлять магазином стало еще легче с мобильной версией. Вам больше не нужен
                                компьютер, достаточно телефона. Миллионы пользователей Tap.az видят ваш магазин на своих
                                мобильных устройствах. Легче искать – быстрее покупать
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>