<section class="connection-container">
    <div class="container">
        <div class="row">
            <h2 class="connection-container__title text-center">Свяжитесь с нами</h2>
            <div class="col-md-12 connection-container_offset_bbxxl">
                <form id="feedback-form" class="connection-container__form" method="post" action name="name">
                    <div class="connection-container__mod white_bg clearfix">
                        <div class="col-md-6 col-xs-12 connection-container_align-left">
                            <input class="connection-container__input" type="text" name="feedback_name" placeholder="Ad" required >
                            <input class="connection-container__input" type="text" name="feedback_surname" placeholder="Soyad" required >
                        </div>

                        <div class="col-md-6 col-xs-12 connection-container_align-right">
                            <input class="connection-container__input" type="number" name="feedback_phone" placeholder="Mobil nömrə" required >
                            <input class="connection-container__input" type="email"  name="feedback_email" placeholder="E-mail" required >
                        </div>
                    </div>

                    <div class="connection-container__submit-wrapper">
                        <button id="connection-container__submit" value="submit" type="submit" class="connection-container__submit">Göndər
                            <i class="fa fa-angle-right connection-container__submit_fa-angle" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>