<section class="leading-container purple_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="leading-container__title">Как создать свой магазин?</h2>
            </div>

            <div class="leading-container__blocks">
                <div class="col-md-4 col-sm-4 col-xs-12 _offset-left-s">
                    <div class="leading-container__item">
                        <div class="leading-container__image">
                            <div class="announcement-container_icon-wrapper">
                                <span class="announcement-container_icon icon-phone path1"></span>
                                <span class="announcement-container_icon icon-phone path2"></span>
                            </div>

                            <div class="leading-container__number">1</div>
                        </div>

                        <p class="leading-container__paragraph">Свяжитесь с нами <span class="block">+994 55 575 57 57</span></p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="leading-container__item">
                        <div class="leading-container__image">
                            <div class="announcement-container_icon-wrapper">
                                <span class="announcement-container_icon icon-service"></span>
                            </div>
                            <div class="leading-container__number">2</div>
                        </div>

                        <p class="leading-container__paragraph">Выберите подходящий вам пакет услуг</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 _offset-left-m">
                    <div class="leading-container__item">
                        <div class="leading-container__image">
                            <div class="announcement-container_icon-wrapper">
                                <span class="announcement-container_icon icon-blank"></span>
                            </div>
                            <div class="leading-container__number">3</div>
                        </div>

                        <p class="leading-container__paragraph">Заполните анкету</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>